    /* สีพื้นหลังรูป */
    .bg-color-1 {
    background-color: #433258;
    }

    /* สีพื้นหลัง menubar */
    .bg-color-2 {
    background-color: white;
    }

    .font-1 {
        font-family: 'Kanit', sans-serif;
        font-weight: 400;
    }

     /* div { 
        border: 2px solid rgb(124, 116, 124);
        } */

    .custom-img {
        width: 70%;
        height: auto;
    }

    .color-font {
        color: #FFFFFF !important;
    }

    .bg-color-3 {
        background-color: #255459 ;
    }

    .bg-image-1 {
        position: relative;
        background-image: url('../images/2.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    } 



  